<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">河马回收-回收工作人员</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 个人信息
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/order">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 处理订单
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/products">
                <span class="oi oi-plus" aria-hidden="true"></span> 处理商品
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/finished">
                <span class="oi oi-plus" aria-hidden="true"></span> 已完成订单
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/finishedProduct">
                <span class="oi oi-plus" aria-hidden="true"></span> 已完成兑换订单
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}