@page "/Intro"
<h2 class="text-center">业务介绍</h2>

绿巨能回收新型再生资源互联网回收平台
       据不完全统计，全国历年城市垃圾堆放总量高达70亿吨，而且每年以约8.98%速度递增。我国大中型城市年产垃圾约2.1亿吨，其中易腐垃圾占比59.3%，可回收垃圾占比31.4%。
      2018年中国再生资源回收总量2.97亿吨，同比增长10%，但主要是工业垃圾。而城市生活垃圾回收利用率不足5%。中国城市可回收垃圾中纸类占比5.2%，塑料占比26.5，玻璃占比6.1%，金属占比2%，其他占比30%。快递是废纸回收领域最大的增速引擎。2018年，全国快递业超过500亿件，同比增长25.8%。
      中国再生资源回收企业有5000多家，回收加工处理工厂3000多家，其间大部分属于个体粗放式经营。
      全国参与垃圾回收的从业人员接近1000万，其中包括拾荒人员、废品回收个体及各类机构从业人员。   
     中国目前废品回收分为三级，第一级为回收个体和拾荒人员，第二级为各类回收站点，第三级为各类回收初加工厂。


@code {
    
}