@page "/Intro"
<h2 class="text-center">河马回收——新型废旧物品互联网回收平台</h2>
<ul>
    <li>
        <p>预约回收：用户点击该功能，添加回收物品类别，回收物品的重量，选择上门时间，添加地址信息和用户手机号码，可以享受预约服务订单，预约服务旨在服务暂时不在家并有废旧物品回收需求的用户。</p>
    </li>
    <li>
        <p>环保积分：环保积分是用户利用预约回收获得的积分奖励，可以在积分兑换商城中兑换实物商品。</p>
    </li>
    <li>
        <p>兑换记录：用户可以使用预约回收获得的积分进行商品兑换，兑换成功后的记录将在我的兑换记录页面展示。</p>
    </li>
    <li>
        <p>积分商品：商品详情将显示商品的名称、环保积分价值和商品详情，点击兑换、确认地址，扣除相应环保积分，商品将由线下工作人员配送上门。</p>
    </li>
</ul>

@code {
    
}