@page "/Rules"
<h2 class="text-center">《河马回收平台上门回收免责条款》</h2>
<ul>
<li>
    <p>衷心欢迎您光临河马回收平台！在您开始发布或查询信息之前，请您仔细阅读河马回收平台的法律声明。从您进入河马回收平台，将视为您已接受以下的内容：</p>
    <li>
        <p>版权:河马回收平台拥有本网站内所有资料的版权，未经河马回收平台的明确书面许可证书，任何组织或个人不得复制或在非河马回收平台所属的服务器上做镜像。</p>
    </li>
    <li>
        <p>网站使用:河马回收平台及其任何组成部分不得被再造、复制、抄袭，或为任何未经河马回收平台允许的商业目的所使用。如果河马回收平台确定用户行为违法或有损其网站利益，则河马回收平台和其关联企业将保留，包括但不限于拒绝提供服务、采取相关法律行为的权利。</p>
    </li>
    <li>
        <p>链接:所有在河马回收平台上发布的信息均由河马回收平台的用户提供.因此，该信息的合法性和真实性由该网友和信息提供者负责。该等信息包括但不限于商品、服务、信息的价格、质量、包装、图片、文字描述、售后服务、送货方式、送货区域等。如果遇到诸如商品质量、退换货、服务瑕疵、信息虚假等争议和纠纷，您可以依照相关法律法规直接与信息提供者和信息提供商解决，河马回收平台对该信息不负任何直接的、间接的法律责任。
            河马回收平台对本网站上所有内容包括但不限于网站运营或本网站上的信息、内容、材料或产品，不提供明示或暗示的担保,包括但不限于为特定目的做的商务暗示担保。河马回收平台对任何损失或任何由于使用本网站而引起的损失，包括但不限于直接的、间接的、偶然的、惩罚性的和引发的损失，不承担责任。
            用户单独承担发布内容的责任，用户的一切言论必须遵守国家法律法规；不得发布危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的信息；不得发布煽动民族仇恨、民族歧视，破坏民族团结的信息；不得散布谣言，扰乱社会秩序，破坏社会稳定；不得散布淫秽、色情、赌博、暴力、恐怖或者教唆犯罪的内容；不得发布侮辱及诽谤他人或者泄露别人隐私，侵害集体及他人合法权益的内容；否则一切后果由发布者本人单独承担。
            你在发布信息的同时系统将自动记录下你的IP地址，你的IP地址将在本站保密而不公开，该行为是作为在国家安全部门及公安机关有需求时提供调查帮助的资料依据。</p>
    </li>
    <li>
        <p>适用法律:本法律声明要与中华人民共和国的法律解释相一致，用户和河马回收平台一致同意服从中华人民共和国人民法院管辖。如与中华人民共和国法律相抵触时，则这些条款将完全按法律规定重新解释，而其它条款则依旧具有法律效力。我们保留随时更改上述免责及其他条款的权利。</p>
    </li>
    <li>
        <p>您须同意并遵守以下的相关法律法规，及中华人民共和国颁布的相关法律法规
            计算机信息网络国际联网安全保护管理办法
            中华人民共和国计算机信息网络国际联网管理暂行规定实施办法
            中华人民共和国计算机信息系统安全保护条例</p>
    </li>
</li>
</ul>


@code {
    
}