@page
@model PersonalDataModel
@{
    ViewData["Title"] = "个人信息";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>您的账号包含了您提供给我们的个人信息。在此页面允许你下载或者删除这些信息</p>
        <p>
            <strong>删除这些数据将会永久的删除你的账户，并且无法恢复</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">下载</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-secondary">删除</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
