@page "/"
@using Recycling.Data
@inject ApplicationDbContext DbContext;
<h3>@username, 欢迎进入回收员系统</h3>
<p>
   @tips
</p>
@code {
    [CascadingParameter]
    public Task<AuthenticationState> AuthenticationStateTask { get; set; }

    public string tips { get; set; }
    public string username { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var state  = await AuthenticationStateTask;
        username = state.User.Identity.Name;
        var count = DbContext.ProductRecords.Count(x => x.ProcesserName == username);
        var count2 = DbContext.RecycleOrders.Count(x => x.ProcesserName == username);
        tips = $"你已完成{count}个上门回收订单，{count2}个兑换订单";
    }

}