@inherits LayoutComponentBase

<div class="container">
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4">
        <a class="blog-header-logo text-dark" href="#">河马回收</a>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
          <LoginDisplay/>
      </div>
    </div>
  </header>
  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <a class="p-2 text-muted" href="/">首页</a>
      <a class="p-2 text-muted" href="/intro">业务介绍</a>
      <a class="p-2 text-muted" href="/news">环保资讯</a>
      <a class="p-2 text-muted" href="/Products">积分兑换</a>
    </nav>
  </div>
  @Body
</div>

<footer class="blog-footer mt-auto py-1">
  <p>河马回收平台 ©2021</p>
</footer>
