@page "/"

<p>
    欢迎来到河马回收后台管理中心
</p>
<ul>
    <li>
        <p>
            用户管理：
            ...
        </p>
    </li>
    <li>
        <p>
            回收订单：
            ...
        </p>
    </li>
    ...
</ul>